<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Article</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <h1 class="mb-1"><%- article.title %></h1>
        <div class="text-muted mb-2">
            <%- article.createdAt.toLocaleDateString() %> 
        </div>
        <a href="/" class="btn btn-secondary">All Articles</a>
        <a href="/articles/edit/<%- article.id %> " class="btn btn-info">Edit</a>
        <div>
            <%- article.sanitizedHtml %> 
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>